.home {
  display: flex;
  justify-content: space-around;
}
.bgColor {
  background-color: red;
}
.fontSize {
  font-size: 16px;
}

.liList {
  display: flex;
}
span {
  flex: 1;
}
.list:nth-child() {
  background-color: grey;
}